@tailwind base;
@tailwind components;
@tailwind utilities;


.search{
    border: 1px solid #ccc;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #F5F5F5;
    border-radius: 20px;
  }
  .search input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin: 0 10px;
  }

 .hero-img{
   background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.5)), url(../public/asset/hero-slider.jpg) center/cover no-repeat fixed;
 }
 .line-height{
   line-height: 2.5rem;
 }